@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto w-4/6;
  }

  .top-bar {
    @apply sticky top-0
    flex items-center
    w-full p-4
    bg-white
    border-b border-slate-200;
  }

  .bottom-bar {
    @apply fixed bottom-0
    flex items-center
    w-full p-4 
    border-t border-slate-200
    bg-white;
  }

  .bottom-bar {
    @apply fixed bottom-0
    flex items-center
    w-full p-4 
    border-t border-slate-200
    bg-white;
  }

  .input {
    @apply block w-full
    py-2 px-4
    outline-none border border-gray-300 rounded
    focus:border-blue-600 focus:ring-1 focus:ring-blue-600;
  }

  .input-error {
    @apply border-pink-500 focus:border-pink-500 focus:ring-pink-500;
  }

  .button {
    @apply flex
    justify-center
    px-4 py-2
    font-medium
    rounded-md;
  }

  .button span {
    @apply ml-2;
  }

  .button-primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white;
  }

  .button-danger {
    @apply bg-pink-500 hover:bg-pink-600 text-white;
  }

  .button-light {
    @apply border border-gray-300
    bg-slate-100 hover:bg-slate-200;
  }

  .button-dark {
    @apply text-white 
    bg-black hover:bg-gray-800;
  }

  .tile span {
    @apply mr-2;
  }

  .tile {
    @apply flex items-center
    p-4
    font-medium
    border-b border-slate-200
    last:border-0;
  }

  .badge {
    @apply text-xs font-semibold mr-2 px-2.5 py-0.5 rounded;
  }

  .badge-green {
    @apply bg-green-100 text-green-800;
  }

  .badge-red {
    @apply bg-red-100 text-red-800;
  }

  .badge-dark {
    @apply bg-gray-100 text-gray-800;
  }

  .badge-yellow {
    @apply bg-yellow-100 text-yellow-800;
  }

  .badge-blue {
    @apply bg-blue-100 text-blue-800;
  }

  .badge-button {
    @apply inline-flex items-center
    p-1.5
    rounded-full
    text-sm font-semibold text-gray-800
    bg-gray-100;
  }

  .badge-button-blue {
    @apply bg-blue-200 text-blue-800;
  }
}

body {
  margin: 0;
  font-family: 'Cinzel', serif;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
